@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BurbankBigCondensed';
  src: url('/assets/fonts/BurbankBigCondensed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'BurbankBigCondensed', sans-serif;
  -webkit-text-stroke: 0.3px #000;
  text-stroke: 0.3px #000;
}
